<!DOCTYPE html>
<html>
<head>
  <title><%= app.name %></title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <div id="map" class="map">
  </div>
  <div class="control-menu">
    <a class="button" id="c-button-menu">Menu</a>
  </div>
  <div class="control-panel" id="c-panel-menu">
    <div class="tabs is-small">
      <ul>
        <li><a id="c-button-menu-close">close</a></li>
        <li class="is-active"><a>Queries</a></li>
      </ul>
    </div>
    <div class="content">
      <% _.forEach(query_files, function (query_file) { %>
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <i class="fa fa-file-text"></i>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">
              <a
                 c-query-filepath="<%= query_path + query_file %>"
                 c-query-file="<%= query_file %>"
              >
                <%= query_file %>
              </a>
            </p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <div class="notif-holder" id="c-notif-holder"></div>
  <div class="control-panel" id="c-data-table">
    <div class="tabs is-small">
      <ul>
        <li><a id="c-button-data-back">back</a></li>
        <li class="is-active"><a id="c-path-name"></a></li>
      </ul>
    </div>
    <div class="content" id="c-data-table-content"></div>
  </div>
  <script src="js/app.js"></script>
</body>
</html>
